<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <link rel= "stylesheet"  href="{{url_for('static',filename='css/style.css')}}">
<body>
<h1> Enter the email/mail content as a plane text and find whether it's a Spam or not </h1>
<form action="{{url_for('find_data')}}" method="POST">
  <label> Enter the mail</label><br>
  <textarea type="'text" name="content"></textarea><br><br>
  <input type='submit'  id='button' value="Find">
</form><br><br>
<p class="result">{{results}} {{emoji}}</p>
</body>
</html>
